body {
  padding: 10px;
  font-family: sans-serif;
  background: url('/chris-liverani-ViEBSoZH6M4-unsplash.jpg');
}

.userInput{
  height: 200px;
  width: 200px;
  font-size: 140px;
  text-align: center;
}

.operator{
  font-size: 140px;
  /* text-align: center;
  height: 200px; */
}

.container{
  background: #000000d0;
  color: white;
}